doctype html
html(lang="en")
  head
    title= pageTitle
    // you dont need to include the "public" folder in path
    link(rel="stylesheet" href="/styles/styles.css")
    script(src='/scripts/first_script.js')
  body
    header First Pug Page
    main
      .count_btn
        button Count Button !
        p Button count : 
          span 0
      .worker_btn 
        button Worker Button !
        p Worker count : 
          span 0
        p Worker Status : 
          span Pending
      .async_example Asynchronous code example using setTimeout()
      .async_internal_img
        p Async callback using internal file
      .async_external_img 
        p Async callback using external link
      .async_promise_img 
        p Async request using promises
      .display_json_content 
        p Get file content using promises 
        p
      .anim 
        div animate!
        div 
      .stopwatch Simple stopwatch
        p #[span.hour] : #[span.min] : #[span.sec]
        button Start 
        button Stop 
        button Reset
    footer
      p.clock 
    //-       <link rel="stylesheet" href="./css/practice-JS-only.css">
    //- <link rel="stylesheet" href="./font_awesome/css/all.css">
    //- <script src="./javascript/practice-JS-only.js"></script>