* {
    box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
}
body, html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    margin: 0;
}
body {
    margin-bottom: 5rem;
    background-color: bisque;
}
body > header {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: cadetblue;
    padding: 3rem;
    text-align: center;
    color: bisque;

}
body > main > div {
    margin-bottom: 1rem;
}
/*resolve footer*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: darksalmon;
}
footer > p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    margin: 0;
    font-size: 2rem;
    color: white;
}

.count_btn, .worker_btn {
    padding: 2rem;
    background-color: beige;
}
.count_btn > button, 
.worker_btn > button {
    font-size: 1.8rem;
}
.count_btn > p, 
.worker_btn > p:first-of-type {
    display: inline-block; 
    margin-left: 10px;
    font-size: 2rem;
}
.count_btn > p > span,
.worker_btn > p > span {
    color: red;
}

.worker_btn > p:last-of-type {
    font-size: 2rem;
}



.async_example {
    background-color: beige;
    padding: 2rem;
    font-size: 2.5rem;
    color: green;
}
.async_example > p {
    font-size: 1.8rem !important;
    color: black;
    padding-left: 1rem;
}